@font-face {
    font-family:'arzhu';
    src:url('https://alogomachine-md-pic.oss-cn-guangzhou.aliyuncs.com/wb/%E8%8B%B1%E6%96%87%E7%AD%BE%E5%90%8D%E5%AD%97%E4%BD%93Alessandria.ttf ');
    font-display:swap
}
h1#site-title {
    font-family:arzhu!important
}
span#subtitle {
    font-family:arzhu!important
}
a#site-name {
    font-family:arzhu!important
}

